VITE_FIREBASE_API_KEY=AIzaSyCbGmqaNqX_ebTZHcVZHMLLju4GXbUNZnc
VITE_FIREBASE_AUTH_DOMAIN=hazcom-navigator-dev.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=hazcom-navigator-dev
VITE_FIREBASE_STORAGE_BUCKET=hazcom-navigator-dev.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=391606138651
VITE_FIREBASE_APP_ID=1:391606138651:web:b4b8dab8d0ef45d43f85be
